@charset "'utf-8'";

/*====================
header
====================*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.7s;
}

.hide {
    opacity: 0;
}

.nav {
    position: relative;
}
/* ハンバーガーメニュー */
.toggle_btn {
  display: none;
}


.nav {
    padding: 30px 3% 0 0;
    position: relative;
}

.nav__list {
    display: flex;
    justify-content: end;
    align-items: center;
    gap:  0 50px;
}

.nav__list li a {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid var(--primary-red);
    border-radius: 100px;
    color: var(--primary-red);
    font-size: 2rem;
    font-weight: 600;
    line-height: 5;
    text-align: center;
    transition: all 0.7s;
    cursor: pointer;
}

/* .nav__list li a{
    position: relative;
} */

.nav__list li a:hover{
    transform: scale(1.2);
    background-color: var(--primary-red);
    color: #FFF;
}

/* header sp */
@media screen and (width<769px) {
    .nav {
        padding: 15px 4%;
        width: 250px;
        min-height: 580px;
        background-color: #F9F9F9;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .7s;
        z-index: 3;
    }

   .nav.open {
        transform: translateX(0);
        opacity: 1;
    }

    /* ハンバーガーメニュー */
    .toggle_btn {
        display: block;
        position: fixed;
        top: 20px;
        left: -27%;
        width: 50px;
        height: 50px;
        border: 1px solid var(--primary-red);
        background-color: #FFF;
        border-radius: 100px;
        transition: all .7s;
        cursor: pointer;
        z-index: 4;
    }

    .toggle_btn span {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%);
        width: 20px;
        height: 2px;
        background-color: var(--primary-red);
        border-radius: 4px;
        transition: all .7s;
    }

    .toggle_btn span.open {
        left: 50%;
        top: 50%;
        transform: translate(-50%);
    }

    .toggle_btn span:nth-child(1) {
        top: 18px;
    }

    .toggle_btn span:nth-child(3) {
        top: 30px;
    }

    .toggle_btn.open span:nth-child(1) {
        top: 50%;
        transform:translate(-50%) rotate(225deg);
    }

    .toggle_btn.open span:nth-child(3) {
        top: 50%;
        transform:translate(-50%) rotate(-225deg);
    }
    .open.toggle_btn span:nth-child(2) {
        opacity: 0;
    } /* ハンバーガーメニュー */

    #mask  {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        pointer-events: none;
        transition: 0.7s;
    }
    
    #mask.open {
        opacity: 0.5;
    }

    .nav__list {
        display: block;
        margin-top: 50px;
    }

    .nav__list li a {
        width: fit-content;
        height: auto;
        border: none;
        margin: 50px auto 0;
        line-height: 1.5;
    }

    .nav__list li a{
        position: relative;
    }

    .nav__list li a::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 1px;
        background-color: var(--primary-red);
        transform:scale(0,1);
        transition: 0.7s;
    }

    .nav__list li a:hover::after {
        transform:scale(1,1);
    }

    .nav__list li a:hover {
        transform: none;
        background-color: transparent;
        color: var(--primary-red);
    }
}



/*====================
footer
====================*/
.footer {
    padding: 50px 10%;
    background-color: #3F3D56;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.mail {
    display: block;
    font-size: 5rem;
    text-decoration-line: underline;
}

.copy {
    text-align: right;
}

.small {
    color: #FFF;
}

/* footer pc */
@media screen and (width<1000px) {
    .footer {
        display: block;
    }

    .small {
        font-size: 1rem;
    }
}

@media screen and (width<769px) {
    .mail {
        font-size: 2.5rem;
    }

    .copy {
        margin-top: 50px;
    }
}