/*====================
common
====================*/
:root {
    --primary-black: #333333;
    --primary-blue: #1277B8;
    --primary-yellow: #FFC300;
    --primary-red: #A63838;
    --primary-lightgray: #F9F9F9;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: var(--primary-black);
    font-family: "dnp-shuei-mgothic-std", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
}

img {
    width: 100%;
}

.topic {
    font-family: "Encode Sans Expanded", sans-serif;
    font-size: 4.0rem;
    font-weight: 500;
}

@media screen and (width<769px) {
    body {
        font-size: 1.4rem;
    }

    .topic {
        font-size: 3.0rem;
    }
}


/*====================
main
====================*/
.main {
    margin-top: 130px;
    padding: 0 10%;
}

@media screen and (width<769px) {
    .main {
        margin-top: 80px;
        padding: 0 4%;
    }
}

/*====================
article__heder
====================*/
.article__header {
    margin-top: 50px;
}

.main__title {
    font-size: 3.5rem;
}

.main__tag {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.main__tag li {
    padding: 0 10px;
    color: #666666;
    font-size: 1.4rem;
    border: 1px solid #666666;
    border-radius: 140px;
}

.main__visual {
    width: 100%;
    margin-top: 50px;
    aspect-ratio: 16 / 9;
    border: 1px solid var(--primary-black);
}

.is-banner {
    aspect-ratio: 2 / 1;
}

.main__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (width<769px) {
    .article__header {
        margin-top: 10px;
    }

    .main__title {
        font-size: 2.5rem;
    }
}


/*====================
works
====================*/
.works {
    margin-top: 50px;
    padding: 50px 7% 100px;
    border-top: 1px solid var(--primary-black);
}

.works__item {
    display: flex;
    justify-content: start;
    margin-top: 40px;
}

.works__item:first-child {
    margin-top: 0;
}

.works__topic {
    color: var(--primary-blue);
    font-weight: 600;
    text-align: center;
    padding: 0 10px;
    border: 1px solid var(--primary-blue);
    min-width: 120px;
    height: 100%;
}

.works__txt {
    margin-left: 80px;
}

@media screen and (width<769px) {
    .works {
        margin-top: 30px;
        padding: 30px 0 50px;
        border-top: 1px solid var(--primary-black);
    }

    .works__item {
        display: block;
        margin-top: 30px;
    }

    .works__topic {
        max-width: 100px;
    }

    .works__txt {
        margin-left: 0;
        margin-top: 10px;
    }
}

/*====================
capture
====================*/
.capture {
    margin-top: 50px;
    height: fit-content;
}

.topic--capture {
    text-align: center;
}

.buttons {
    display: none;
}

.capture__img {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 0 8%;
}

.capture__pc {
    max-width: 650px;
    height: 100%;
}

.capture__sp {
    max-width: 250px;
    height: 100%;
}

.capture__others {
    width: 100%;
    height: 450px;
}

.capture__others img {
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto;
}

@media screen and (width<769px) {
    .capture {
        margin-bottom: 50px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        margin: 10px auto 30px;
    }

    .button {
        padding: 2px 10px;
        width: 100px;
        border: 1px solid var(--primary-blue);
        text-align: center;
        color: var(--primary-blue);
        font-size: 1rem;
    }

    #pc_btn {
        color: #FFF;
        background-color: var(--primary-blue);
        transition: 0.3s;
    }
    
    #pc_btn.active {
        color: var(--primary-blue);
        background-color: #FFF;
    }
    
    #sp_btn {
        color: var(--primary-blue);
        background-color: #FFF;
        transition: 0.3s;
    }

    #sp_btn.active {
        color: #FFF;
        background-color: var(--primary-blue);
    }

    .capture__pc {
        width: 100%;
        height: auto;
    }

    .capture__sp {
        display: none;
    }

    .capture__pc.active {
        display: none;
    }
    
    .capture__sp.active {
        width: 100%;
        height: auto;
        display: block;
    }

    .capture__others {
        height: auto;
    }

    .capture__others img {
        height: auto;
    }

}

/*====================
more
====================*/
.more {
    padding: 100px 0;
}

.more__list {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}

.more__item  {
    width: 45%;
    transition: all 0.3s;
    position: relative;
}

.more__item::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.7s;
    background: linear-gradient(90deg,#0A416E 0%,#A0C9D2 100%);
    background-size: 200% 200%;
    animation: bggrdAnime 10s ease 0.7s infinite;
    opacity: 0;
}

.more__item:hover {
    color: #ffffff;
}

.more__item:hover li {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.more__item:hover img {
    transform: scale(1.05);
    background-color: transparent;
}

.more__item:hover:after {
    opacity: 1;
}

@keyframes bggrdAnime{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.more__imgBox {
    width: 100%;
    max-height: 300px;
    aspect-ratio: 3 / 2;
    overflow: hidden;
}

.more__img {
    background-color: #ddd;
    object-fit: cover;
    height: 100%;
    transition: all 0.7s;
}

.txt__box {
    padding: 15px 20px;
}

.more__title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.5;
}

.more__tag {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0 30px;
    margin-top: 10px;
}

.more__tag li {
    color: #8C8C8C;
    font-family: "DNP ShueiMGoStd";
    font-size: 1.2rem;
    border: 1px solid #8C8C8C;
    border-radius: 140px;
    padding: 0 10px;
    transition: all 0.3s;
}

.more__skill {
    margin-top: 10px;
}

@media screen and (width<769px) {
    .more {
        padding: 50px 0;
    }

    .more__list {
        margin-top: 20px;
    }

    .txt__box {
        padding: 10px 20px;
    }

    .more__title {
        font-size: 2rem;
    }

    .more__tag {
        gap: 0 10px;
        margin-top: 0;
    }

    .more__skill {
        margin-top: 15px;
    }

}

@media screen and (width<600px) {
    .more__list {
        justify-content: center;
    }

    .more__item {
        width: 100%;
    }

    .more__imgBox {
        max-width: initial;
        max-height: 400px;
        height: auto;
        aspect-ratio: 3 / 2;
    }

    .more__img {
        object-fit: cover;
        height: 100%;
    }
}